---
layout: default
---

<style>
  .no-margin {
    margin: 0;
    white-space: nowrap;
  }
</style>

<!-- ========== About ========== -->
<div class="docs-section" id="about">
  <h5>About</h5>
  Hello! I am a master's student in the Department of
  <b><a href="https://ee.yonsei.ac.kr/ee_en/index.do">Electrical and Electronic Engineering</a></b>
  at <b><a href="https://www.yonsei.ac.kr/en_sc/">Yonsei University</a></b>.
  I obtained my B.S. in Statistics at <b><a href="https://www.dongguk.edu/eng/main">Dongguk University</a></b> (summa cum laude).
  <br>
  <br>
  My interests include <b>Vision Language model (VLM)</b>, <b>Vision Language Action model (VLA)</b>, and multiple tasks using <b>Medical Images</b>.
  <br>
  <br>
  I am always open to collaboration and discussion. If you are interested in similar topics,
  please feel free to reach out!
</div>

<!-- ========== News ========== -->
<div class="docs-section">
  <h5>News</h5>
  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">July 2026</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Our paper "Evaluation of LLMs for Automated Dental-to-Medical Consult Letter Generation" has been accepted to <b>International Dental Journal</b>!
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-12 col-md-12 text-md-left">
      <b class="bbold" style="color:#fa8072;">July 2026</b>&nbsp;&nbsp;&nbsp;&nbsp;
      Launched my personal academic website!
    </div>
  </div>
</div>
<p></p>

<!-- ========== Education ========== -->
<div class="docs-section" id="education">
  <h5>Education</h5>
  <div class="vitae-item">
    <p class="title">
      <b>Yonsei University</b>
      <span class="vitae-time">2026 - Present</span>
    </p>
    <p class="vitae-role">M.S. in Electrical and Electronic Engineering</p>
  </div>

  <div class="vitae-item">
    <p class="title">
      <b>Dongguk University</b>
      <span class="vitae-time">2020 - 2025</span>
    </p>
    <p class="vitae-role">B.S. in Statistics (summa cum laude)</p>
  </div>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h5>Publications</h5>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">

      <div class="paper">
        <div class="row">
          <div class="twelve columns">
            <p><h5>2026</h5><hr /></p>
            <p class="title"><b>Evaluation of LLMs for Automated Dental-to-Medical Consult Letter Generation: Comparative Study</b></p>
            <p>Dareen Eom, Kyeol Koh, <b><u>Howon Chung</u></b>, Kwangsoo Kim, Sang-Hwa Lee</p>
            <p><i>International Dental Journal</i>, 76(5), 111088 &nbsp;<span style="color:#888;">IF 5.2, JCR Q1 in Dentistry, Oral Surgery &amp; Medicine (Top 10%)</span></p>
            <div class="paper-buttons">
              <a class="button" href="https://doi.org/10.1016/j.identj.2026.111088" target="_blank">Paper</a>
            </div>
          </div>
        </div>
      </div>

      <div class="paper">
        <div class="row">
          <div class="twelve columns">
            <p><h5>2025</h5><hr /></p>
            <p class="title"><b>AI and Machine Learning Approaches for Early Stroke Detection via Facial and Speech Analysis</b></p>
            <p><b><u>Howon Chung</u></b>, H. Yang, D. Yoo, G. Jeong, J. Park, Y. Shin</p>
            <p><i>AIcompS 2025</i> &nbsp;<span style="color:#888;">Poster</span></p>
            <div class="paper-buttons">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- ========== AWARDS ========== -->
<div class="docs-section" id="awards">
  <h5>Awards</h5>

  {% for a in site.data.awards.awards %}
  <div class="vitae-item">
    <p class="title">
      <b>{{ a.award }}</b>
      <span class="vitae-time">{{ a.date }}</span>
    </p>
    <p class="vitae-role">{{ a.issuer }}</p>
    <p class="vitae-desc">{{ a.event }}</p>
  </div>
  {% endfor %}
</div>

<!-- ========== EXPERIENCE ========== -->
<div class="docs-section" id="experience">
  <h5>Vitæ</h5>
  {% if site.data.main_info.cv and site.data.main_info.cv != "" %}
  <p>Full CV in <a href="{{ site.baseurl }}/{{ site.data.main_info.cv }}">PDF</a>.</p>
  {% endif %}

  <div class="vitae-timeline">
    {% assign work_experiences = site.data.experience.experiences | where: "category", "work" %}
    {% for exp in work_experiences %}
    <div class="vitae-item">
      <span class="vitae-marker"></span>
      <p class="title">
        <b>{{ exp.place }}</b>
        <span class="vitae-time">{{ exp.time }}</span>
      </p>
      <p class="vitae-role">{{ exp.title }}</p>
      {% if exp.subtitle and exp.subtitle != "" %}
      <p class="vitae-desc">{{ exp.subtitle }}</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <p class="theme-credit">
    Jekyll theme adapted from
    <a href="https://seungonekim.github.io/">Seungone Kim's website</a>,
    <a href="https://junmokang.github.io/">Junmo Kang's website</a>, and
    <a href="https://joeljang.github.io/">Joel Jang's website</a>.
  </p>
</div>
